.directory
.DS_Store
Thumbs.db
*.sh

# composer
composer.phar
composer.lock
/vendor

# cs
.php_cs
/.php_cs.cache

# phpunit
/phpunit.xml
/.phpunit.result.cache

# test runtime files
/tests/tmp
/tests/sitema*.xml
/tests/sitema*.xml.gz
